.search-article-wrapper {
  .form-group-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    flex-direction: row;
    height: 50px;
    width: 60%;

    .k-button-primary {
      color: white;
      height: 50px;
      width: 100px !important;
      font-size: 13px;
      font-weight: bold;
    }
  }
}
