$primary-yellow: #f29913;
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

.navbar {
  padding: 1.5em 0;
}

.navbar-toggler {
  border: none;
  color: $primary-yellow;
  .navbar-toggler-icon {
    color: $primary-yellow;
    @include breakpoint("mobileonly") {
      width: 25px;
    }
    background-image: url("../../assets/images/logo/burger.png");
  }
}
