@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

.footer {
  margin-top: 100px;
  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include breakpoint("mobileonly") {
      flex-direction: column;
    }

    .footer-item {
      @include breakpoint("mobileonly") {
        margin-top: 20px;
      }
      .footer-title {
        color: #311d00;
        text-align: center;
        @include breakpoint("mobileonly") {
          text-align: start;
        }
      }

      .footer-text-title {
        font-size: 15px;
        margin-top: 1em;
      }

      .footer-text {
        color: #f29913;
      }

      ul {
        text-decoration: none;
        list-style: none;
        .li-text {
          text-align: start !important;
        }
      }
    }
  }
}
